<launch>
  <arg name="config" default="$(find testit)/cfg/config.yaml" />
  <node pkg="testit" type="testit_daemon.py" name="testit_daemon" output="screen">
    <param name="config" value="$(arg config)"/>
  </node>
  <node pkg="testit_learn" type="services.py" name="services" output="screen"/>
</launch>
